<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
  <!--This link is the way flask call the folders from template-->

</head>
<body>
    
   <h1>Hello World</h1>
   <p>Welcome to our Flask site.</p>
   <hr>
   
   {% block content %}
   {% endblock content %}
   
   <hr>
    
    <p>this is our footer</p>
    
</body>
</html>